= form_for @wword, :url => wword_path(@wword), :html => { :class => "edit_wword", :id => "edit_wword" } do |f|
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  = render :partial => "form", :locals => {:f => f}
