!!!
%html
  %head
    %title Toteach
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .content
        .row
          .span7
            = yield
